@import '~global/colors.scss';
@import '../../variables.scss';

.button {
  background-color: $white;
  border-bottom: 1px solid $grey;
  border-radius: 0;
  height: $record-button-height;
  max-height: $record-button-height;
  min-height: $record-button-height;
  width: 100%;

  &:hover {
    background-color: $white;
  }

  &:focus {
    background-color: $white;
  }
}
