.imageContainer {
  padding-top: 25px;
  text-align: center;
  padding-bottom: 5px;
}

.signInButtonContainer {
  padding-bottom: 15px;
}

.signInButton {
  width: 100%;
}

.forgotPasswordLinkContainer {
  padding-bottom: 10px;
}

.registerLinkContainer {
  padding-bottom: 10px;
}
